body {
  width: 100vw;
  height: 100vh;
}
#About {
  background: rgba(144, 204, 244);
}
#Projects {
  background: rgba(252, 136, 136);
}
#Contact {
  background: rgba(243, 210, 80);
}
#About70 {
  background: rgba(144, 204, 244, 70);
}
#Projects70 {
  background: rgba(252, 136, 136, 70);
}
#Contact70 {
  background: rgba(243, 210, 80, 70);
}
:focus {
  outline: none;
}
.FullPage {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-color: white;
  position: relative;
  font-family: "Lora", serif;
}
.PageSection {
  flex-basis: 64vw;
  overflow-y: scroll;
  height: 94vh;
  padding: 6vh 3vw 0;
}
.Title {
  font-size: 2.5em;
}
@media (orientation: portrait) {
  .PageSection {
    height: unset;
  }
}
::-webkit-scrollbar {
  display: none;
}

ul {
  padding: 0;
}
ul > li {
  list-style-type: none;
  display: inline-block;
  padding: 0.35em 0.75em;
  margin-right: 0.6em;
  margin-bottom: 0.4em;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 0.8rem;
}

@media (orientation: portrait) {
  .PageSection {
    flex-basis: 100vw;
  }
}
