.NavBar {
  background-color: #ececec;
  height: 12vh;
  position: fixed;
  width: 100%;
}
.LinkBar {
  background-color: #ececec;
  height: 3vh;
  bottom: 0;
  right: 0;
  width: 70%;
  position: fixed;
}

.logo {
  position: absolute;
  top: 28%;
  height: 44%;
  left: 50%;
  transform: translateX(-50%);
}
.Body {
  top: 12vh;
  height: 88vh;
  position: relative;
}
.SideBar {
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: #f78888;
  position: absolute;
  text-align: center;
}
.SideContent {
  padding: 12vh 10%;
}
.SideTitle {
  font-family: "Nunito", sans-serif;
  font-size: 2em;
}
.SideText {
  padding: 10vh 0%;
  font-size: 1.25em;
}
.SideFooter {
}
.ContentHolder {
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  overflow-y: scroll;
  position: absolute;
  background-color: #ececec;
  background-image: url("/src/assets/paper.jpg");
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.Content {
  box-sizing: border-box;
  border: 1px solid black;
  height: 88vh;
  font-family: "Lora", serif;
  text-align: center;
}
button {
  background-color: transparent;
  padding: 0.75em 1.75em;
  font-family: "Nunito", sans-serif;
  border-color: black;
  font-size: 1.15em;
  border-width: 2.5px;
}
.ContentTitle {
  text-align: center;
  font-size: 3em;
  margin-top: 5vh;
}
.ContentText {
  margin-top: 5vh;
}
.ContentFooter {
  margin-top: 10vh;
}
.ContentHolder::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
